<h2 id="terminology" class="mt-3">{{ 'FAQ.TERMINOLOGY' | translate }}</h2>
<ol>
    <li [innerHTML]="'FAQ.CP_DEF' | translate"></li>
    <li [innerHTML]="'FAQ.CP_DESC' | translate"></li>
    <li [innerHTML]="'FAQ.RATING_DEF' | translate"></li>
    <li [innerHTML]="'FAQ.QUALIFICATION_POINTS_DEF' | translate"></li>
    <li [innerHTML]="'FAQ.DHK_DEF' | translate"></li>
    <li [innerHTML]="'FAQ.DECAY_DEF' | translate"></li>
    <li [innerHTML]="'FAQ.BUCKETS_DEF' | translate"></li>
</ol>
<h2 id="references">{{ 'FAQ.REFERENCES' | translate }}</h2>
<ul>
    <li [innerHTML]="'FAQ.REF_1' | translate"></li>
    <li [innerHTML]="'FAQ.REF_2' | translate"></li>
    <li [innerHTML]="'FAQ.REF_3' | translate"></li>
    <li [innerHTML]="'FAQ.REF_4' | translate"></li>
</ul>

<h2 id="new-ranking-system">{{ 'FAQ.NEW_RANKING_SYSTEM' | translate }}</h2>
<ul class="list-group">
    <li class="list-group-item">
        <p [innerHTML]="'FAQ.Q1_Q' | translate"></p>
        <p>{{ 'FAQ.Q1_A' | translate }}</p>
    </li>
    <li class="list-group-item">
        <p [innerHTML]="'FAQ.Q2_Q' | translate"></p>
        <p [innerHTML]="'FAQ.Q2_A' | translate"></p>
    </li>
    <li class="list-group-item">
        <p [innerHTML]="'FAQ.Q3_Q' | translate"></p>
        <p>{{ 'FAQ.Q3_A' | translate }}</p>
    </li>
    <li class="list-group-item">
        <p [innerHTML]="'FAQ.Q4_Q' | translate"></p>
        <p>{{ 'FAQ.Q4_A' | translate }}</p>
    </li>
    <li class="list-group-item">
        <p [innerHTML]="'FAQ.Q5_Q' | translate"></p>
        <p [innerHTML]="'FAQ.Q5_A' | translate"></p>
    </li>
    <li class="list-group-item">
        <p [innerHTML]="'FAQ.Q6_Q' | translate"></p>
        <p>{{ 'FAQ.Q6_A1' | translate }}</p>
        <ul>
            <li [innerHTML]="'FAQ.Q6_BRACKET_1' | translate"></li>
            <li [innerHTML]="'FAQ.Q6_BRACKET_2' | translate"></li>
            <li [innerHTML]="'FAQ.Q6_BRACKET_3' | translate"></li>
        </ul>
        <p>{{ 'FAQ.Q6_A2' | translate }}</p>
    </li>
</ul>
